/*Import the fonts used*/
@import url("https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap");
/*Basic reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Custom properties*/
:root {
  --dark-color: #2d2c2c;
  --purple-solid: #350a4f;
  --purple-transparent: rgba(53, 10, 79, 0.7);
  --purple-transparent-alt: rgba(53, 10, 79, 0.5);
  --purple-light: #8f50fb;
  --yellow-solid: #fa9e2c;
  --gradient-color: linear-gradient(
    to right,
    var(--yellow-solid),
    var(--purple-light)
  );
  --gradient-color-alt: linear-gradient(
    to right,
    var(--purple-light),
    var(--yellow-solid)
  );
}

html {
  /*Makes the math when using rem units simple*/
  font-size: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--dark color);
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
section {
  padding: 5rem;
}
/* *******************************NAVBAR CSS */
.logo img {
  max-width: 80%;
  padding-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}
.navbar {
  background-color: var(--purple-solid);
}
.nav-link {
  color: white !important;
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

/* Homepage */
.smallimg{
  height: 200px !important;
  width: 100% !important;
  border-radius: 5px;
}

.roomproperties{
  font-size: 15px;
  text-align: left !important;
  font-weight:300 !important;
}
  /* -->btn */
  .btn{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}

.btn-gradient{
  background-image: var(--gradient-color);
}
.btn-gradient:hover{
  background-image: var(--gradient-color-alt);
  color: #fff;
}
.btn-purple{
  background-color: var(--purple-solid);
}

.btn-purple:hover{
  background-color: #56247f;
}

/* -->box shadow */

.boxshadow{
  box-shadow: var(--purple-light) 0px 1px 1px, var(--purple-transparent) 0px 0px 0px 2px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}